* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.SunHomes__container {
    width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0; 
    box-shadow: 0 0 20px rgb(199, 199, 199);
    border-radius: 10px;
    margin: 10px auto;
}
.SunHomes__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SunHomes__title {
    display: flex;
    align-items: center;
    margin-top: 59px;
    margin-bottom: 10px;
}
.SunHomes__title span {
    font-size: 1.1rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}
.SunHomes__banner img {
    border-radius: 10px;
    box-shadow: 0 4px 4px #49494991;
}
.SunHomes__desp {
    width: 486px;
    margin: 25px 0 5px 0;   
    line-height: 25px;
}
.SunHomes__desp span {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.SunHomes-uuDai__desp {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.gift {
    animation: giftANM 1s infinite;
}
@keyframes giftANM {
    0%, 100% {
        transform: skewY(-1deg) scale(1.1);
    }
    50% {
        transform: skewY(-1deg) scale(0.6)
    }
}
.SunHomes-uuDai__desp .label_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SunHomes-uuDai__desp .label__desp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    line-height: 35px;
}
.SunHomes-bangGia img {
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px #49494991;
}
.SunHomes__timeday {
    padding: 10px 0;
    text-align: start;
    width: 455px;
    max-height: 75px;
    line-height: 30px;
}

@keyframes btnNhay {
    0%, 100% {
        transform: skewY(-1deg) scale(1);
    }
    50% {
        transform: skewY(1deg) scale(1.2);
    }
}

.btn__datban {
    margin-bottom: 20px;
    width: 178px;
    height: 35.78px;
    background-color: #D41717;
    box-shadow: 0 0 10px #fc3434;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    animation: btnNhay 1.2s infinite;
}
.btn__datban:hover {
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: 0 10px 10px #fc3434;
}
.SunHomes__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.SunHomes__footer .footer-left {
    flex: 5;
}
.SunHomes__footer .footer-right {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}